.rounded {
    border-radius: 12px !important;
}

pre {
    max-height:400px;
    margin: 0 !important;
}

pre code {
    border-left: 0 transparent !important;
    box-shadow: 0px 0px 0px 0px transparent !important;
}

pre {
    box-shadow: 0 0 0 1px #ccc;
}

a {
    color: #eda31d;
}

.btn-primary {
    background-color: #ffdf7f;
    border-color:#ecba22;
    border-bottom-width: 2.5px;
}

.navbar-brand {
    background-color: #ffcd2d;
    color: white;
    padding: 5px 10px;
    text-shadow: 0 0 5px #ffcf9e7f;
    transition: background-color .2s, text-shadow .2s;
}

.navbar-brand:hover {
    background: #ffc107;
    color: white;
    text-shadow: 0 0 10px #eee;
}

.navbar ul {
    margin:0;
}

.nav-item {
    float:left;
    list-style: none;
}

#main-container {
    padding: 40px 0;
    background: var(--bs-light);
}
