.rounded {
    border-radius: 12px !important;
}

pre {
    max-height:400px;
    margin: 0 !important;
}

pre.main {
    max-width:400px;
    min-height:400px;
    max-height:400px;
}

pre code {
    border-left: 0 transparent !important;
    box-shadow: 0px 0px 0px 0px transparent !important;
}

pre {
    box-shadow: 0 0 0 1px #ccc;
}

a {
    color: #eda31d;
}

.btn-primary {
    background-color: #ffdf7f;
    border-color:#ecba22;
    border-bottom-width: 2.5px;
}

.navbar-brand {
    background-color: #ffcd2d;
    color: white;
    padding: 5px 10px;
    text-shadow: 0 0 5px #ffcf9e7f;
    transition: background-color .2s, text-shadow .2s;
}

.navbar-brand:hover {
    background: #ffc107;
    color: white;
    text-shadow: 0 0 10px #eee;
}

.navbar ul {
    margin:0;
}

.nav-item {
    float:left;
    list-style: none;
}

#main-container {
    padding: 40px 0;
    background: var(--bs-light);
}

#toc-col {
    position: sticky;
    top: 10px;
}

.main-buttons a {
    margin-right: 3px;
}

.bottom-content {
    margin-top:100px;
}

.bottom-content img {
    height:180px;
    margin: auto;
    display: block;
}

.bottom-content h1 {
    text-align: center;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-bottom: 10px;
}

.lead {
    font-size: 1.4rem;
}