.rounded {
    border-radius: 12px !important;
}

pre {
    min-height:100%;
    max-height:430px;
    margin: 0 !important;
}

pre code {
    border-left: 0 transparent !important;
    box-shadow: 0px 0px 0px 1px #dfdfdf !important;
}

pre::before, pre::after {
    display: none !important;
}
